@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inria+Serif&display=swap')
$primary_color: #e0d9c8
$secondary_color: #fff1d1
$button_color_1: #c0b9a8
$button_color_2: #ffb811
$button_shadow: 0 2px 8px 0 rgba(102, 102, 102, 0.2), 0 3px 8px 0 rgba(102, 102, 102, 0.19)

// header
.header_div
    // background-color: $primary_color
    width: 100%
    padding: 1rem 2rem
    display: flex
    justify-content: flex-end

.header_div p
    padding: 0
    margin: 0

.header_left
    display: flex
    width: 25rem
    justify-content: space-between
    align-items: center
    z-index: 3

.header_right
    width: 20rem
    display: flex
    justify-content: flex-end
    z-index: 3

.header_button
    border: none
    background-color: $button_color_1
    color: white
    height: 2.5rem
    margin: 0 0.5rem
    text-align: center
    padding: 0.5rem
    display: flex
    justify-content: center
    align-items: center
    width: 6rem
    font-size: 0.8rem
    border-radius: 10px
    cursor: pointer

.header_button:hover
    box-shadow: $button_shadow

.header_icon
    margin: 0 0.5rem

.header_skull_icon
    width: 3rem
    margin: -0.3rem 0 0

.header_left p
    font-size: 1.5rem

// footer
.footer_div
    height: 5rem
    background-color: $primary_color
    margin: 5rem 0 0

// homepage
.homepage_div
    height: 45.5vw
    // z-index: -10

.homepage_background
    position: absolute
    height: 21rem
    width: 95%
    background-color: #e7e2d2

.homepage_background2
    position: absolute
    height: 15rem
    width: 70%
    z-index: 1
    margin: 17rem 0 0
    background-color: white
    opacity: 0.5

// .homepage_image
//     margin: -5rem 15rem 0 0
//     width: 100%
//     position: absolute
//     z-index: -10
//     height: 100%
//     opacity: 0.5

.homepage_text_div
    position: absolute
    margin: 10vw 0 0 50vw
    z-index: 3
    
.homepage_text_div p
    margin: 0
    font-size: 6vw
    font-weight: 400
    font-family: 'DM Serif Display', serif
    text-align: right
    color: #464646

.background_img
    position: absolute
    width: 20rem
    z-index: 10
    margin: 2rem 0 0

.background_img2
    position: absolute
    width: 20rem
    z-index: 10
    margin: 15rem 0 0 13rem

.background_img3
    position: absolute
    width: 20rem
    z-index: 10
    margin: 1rem 0 0 25rem

.background_img4
    position: absolute
    width: 25rem
    z-index: 10
    margin: 18rem 0 0 30rem

// homepage cards
.display_desserts
    width: 76rem
    margin: 2rem auto

.dessert_type
    margin: 1rem 0 0 1rem
    font-size: 1.5rem
    font-weight: 700

.dessert_div
    display: flex
    flex-wrap: wrap
    // background-color: red

.searchbar
    margin: 2rem auto 1rem
    display: flex
    justify-content: center
    color: $primary_color

.search
    border: 4px solid $primary_color
    background-color:  white
    width: 50%
    height: 3rem
    padding: 1rem 2rem
    font-size: 1rem
    border-radius: 20px
    color: $primary_color

//user
.user_div
    min-height: 35vw
    width: 65rem
    margin: 0 auto
    padding: 5rem 0 0
    display: flex
    justify-content: space-between

.user_nav
    // background-color: #f3f1ed
    background-color: #ffffff7e
    width: 18rem
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 2rem 0 2rem
    border-radius: 10px
    height: 32rem
    box-shadow: 0 4px 5px 0 rgba(167, 167, 167, 0.2), 0 4px 10px 0 rgba(175, 175, 175, 0.19)


.user_display
    background-color: #ffffff7e
    width: 46rem
    border-radius: 10px
    padding: 3rem 3rem
    min-height: 40rem
    box-shadow: 0 4px 5px 0 rgba(167, 167, 167, 0.2), 0 4px 10px 0 rgba(175, 175, 175, 0.19)


.user_info, .user_img_div
    width: 12rem

.user_img
    border-radius: 200px
    width: 12rem

.user_info
    margin: 1rem 0 0

.user_info p
    margin: 0.5rem 0

.user_buttons
    width: 14rem
    margin: 1rem 0 0
    background-color: white
    padding: 0 1rem
    border-radius: 5px

.user_buttons p
    margin: 1rem 0

.user_button:hover
    cursor: pointer

.user_display p
    font-size: 1.5rem

.user_cards
    display: flex
    flex-wrap: wrap

//user card
.usercards
    border-radius: 10px
    width: 18rem
    margin: 0.5rem 1rem
    padding: 1rem
    background-color: white
    box-shadow: 0 4px 5px 0 rgba(167, 167, 167, 0.2), 0 4px 10px 0 rgba(175, 175, 175, 0.19)


.usercards:hover
    cursor: pointer
    box-shadow: 0 4px 8px 0 rgba(92, 92, 92, 0.2), 0 6px 20px 0 rgba(95, 95, 95, 0.19)

.usercard_title
    margin: 0 0 0.8rem
    font-size: 1.5rem
    text-align: center
    font-weight: 500

.usercard_image
    width: 16rem
    height: 16rem
    margin: auto
    border-radius: 10px

.usercard_info
    text-align: center
    margin-top: -1rem

.usercard_design
    display: flex
    justify-content: center

.usercard_design img
    width: 5rem
    margin: 0.5rem 0

.usercard_button_div
    display: flex
    justify-content: center

.usercard_button
    margin: 1rem auto 0
    padding: 0.5rem 1.5rem
    width: 16rem
    text-align: center
    font-weight: 500
    border-radius: 10px
    background-color: $primary_color
    float: right
    box-shadow: 0 2px 3px 0 rgba(156, 156, 156, 0.2), 0 2px 5px 0 rgba(151, 151, 151, 0.19)

.usercard_button:hover
    box-shadow: 0 2px 3px 0 rgba(73, 73, 73, 0.2), 0 2px 5px 0 rgba(73, 73, 73, 0.19)
    

// card
.cards
    border-radius: 10px
    width: 18rem
    margin: 0.5rem
    padding: 1rem
    background-color: white
    box-shadow: 0 2px 4px 0 rgba(167, 167, 167, 0.2), 0 3px 5px 0 rgba(175, 175, 175, 0.19)

.cards:hover
    cursor: pointer
    box-shadow: 0 4px 8px 0 rgba(92, 92, 92, 0.2), 0 6px 20px 0 rgba(95, 95, 95, 0.19)

.card_title
    margin: 0 0 0.8rem
    font-size: 1.5rem
    text-align: center
    font-weight: 500

.card_image
    width: 16rem
    height: 16rem
    margin: auto
    border-radius: 10px

.card_info
    text-align: center
    margin-top: -1rem

.card_design
    display: flex
    justify-content: center

.card_design img
    width: 5rem
    margin: 0.5rem 0

.card_button_div
    display: flex
    justify-content: center

.card_button
    margin: 1rem auto 0
    padding: 0.5rem 1.5rem
    width: 16rem
    text-align: center
    font-weight: 500
    border-radius: 10px
    background-color: $primary_color
    float: right
    box-shadow: 0 2px 3px 0 rgba(156, 156, 156, 0.2), 0 2px 5px 0 rgba(151, 151, 151, 0.19)

.card_button:hover
    box-shadow: 0 2px 3px 0 rgba(73, 73, 73, 0.2), 0 2px 5px 0 rgba(73, 73, 73, 0.19)

.recommend
    border-radius: 10px
    width: 12rem
    margin: 0.56rem
    background-color: $secondary_color

.recommend:hover
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

.recommend_image
    width: 12rem
    height: 17rem
    border-radius: 10px 10px 0 0 

.recommend_info
    margin: 0.5rem 1rem 1rem

.recommend_info p
    margin: 0
    font-weight: 500

.recommend_price_div
    display: flex

.recommend_price_div img
    width: 1.5rem
    height: 1.5rem

// detailpage
.detail_card_div
    width: 60rem
    margin: 5rem auto 10rem
    padding: 2rem 3.5rem
    background-color: white
    border-radius: 10px
    box-shadow: 0 2px 4px 0 rgba(167, 167, 167, 0.2), 0 3px 5px 0 rgba(175, 175, 175, 0.19)

.detail_card_title
    text-align: center
    font-size: 3rem
    font-weight: 500
    margin:  2rem 0 4rem

.detail_card_desc
    font-size: 1.3rem

.detail_card_image
    width: 20rem
    height: 20rem
    border-radius: 10px
    margin: 3rem 5rem 0 0

.detail_card_info
    display: flex

.detail_card_buy
    display: flex
    justify-content: space-between
    align-items: center
    width: 27rem
    margin: 5rem 0 0

.detail_card_buy2
    display: flex
    justify-content: space-between
    align-items: center
    width: 15rem
    margin-top: 3rem

.detail_card_buy_price
    font-size: 1.6rem
    font-weight: 500
    margin: 2.5rem 0 0

.detail_card_buy_button
    border: none
    border-radius: 10px
    background-color: $primary_color
    width: 12rem
    padding: 0 1rem
    height: 3rem
    font-weight: 500
    font-size: 1.2rem
    display: flex
    justify-content: space-evenly
    align-items: center

.detail_card_buy_button2
    background-color: $button_color_1

.detail_card_buy_button:hover
    box-shadow: 0 0 3px  rgba(0, 0, 0, 0.2), 0 0 5px  rgba(0, 0, 0, 0.19)
    cursor: pointer

.detail_card_buy_button_dscrt
    border: none
    background-color: white
    font-size: 1.4rem

.detail_card_buy_button_dscrt:hover
    text-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19)
    cursor: pointer

.button_icon
    width: 1.3rem

.detail_card_info_elements
    width: 100%

.detail_desserts_div
    display: flex

.detail_desserts_title
    margin: 5rem 2rem 2rem
    font-size: 1.3rem
    font-weight: 500

// upload
.upload_title
    font-size: 3rem
    font-weight: 650
    text-align: center
    margin: 5rem 0 2rem 0 

.upload_description
    margin: 0.5rem 0
    font-size: 1.5rem
    font-weight: 500

.upload_form
    width: 60rem
    margin: 1rem auto
    background-color: $primary_color
    padding: 2rem
    border-radius: 20px
    box-shadow: 0px 4px 5px 1px rgba(112, 112, 112, 0.2), 3px 4px 10px 3px rgba(175, 175, 175, 0.19)


.upload_input
    display: none

.upload_image_div_div
    display: flex
    justify-content: space-between
    margin: 1rem 0 0

.upload_input_div
    display: flex

.upload_input_div_space
    width: 1rem

.upload_image_div
    background-color: white
    width: 49%
    min-height: 15rem
    display: flex
    justify-content: center
    align-items: center
    border-radius: 5px

.upload_image
    position: relative
    // background-color: red
    margin: 1rem auto
    padding: 0

.selected_image
    width: 18rem
    height: 18rem

.upload_button_div
    width: 60rem
    margin: 1rem auto
    display: flex
    justify-content: flex-end

.upload_button
    border: none
    background-color: $primary_color
    padding: 0.5rem 2rem
    border-radius: 10px
    font-weight: 500

.upload_button:hover
    cursor: pointer
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19)

.upload_location
    float: right
    background-color: #dac7bd
    padding: 0.2rem 0.5rem
    border-radius: 5px
    cursor: pointer

.upload_location:hover
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19)

.newpost_image_error
    color: red 
    // background-color: white
    padding: 0.5rem
    margin-top: 0
    border-radius: 0px 0px 5px 5px

// signin
.signin_div
    width: 50%
    margin: 2rem auto
    padding: 2rem
    display: flex
    flex-direction: column
    align-items: center

.signin_forms
    width: 100%
    display: flex
    flex-direction: column
    align-items: center

.signin_form
    width: 90%
    display: flex
    flex-direction: column
    align-items: center

.signin_button
    border: none
    background-color: $primary_color
    width: 60%
    padding: 0.7rem 0
    min-height: 2.5rem
    margin: 1rem 0 0
    border-radius: 10px
    text-align: center

// nosession
.nossession_div
    min-height: 35vw
    width: 60rem
    margin: 0 auto
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.nosession_1
    font-size: 2rem
    margin: 0.5rem

.nosession_2
    font-size: 1.5rem
    margin: 0.5rem 0 4rem

.nosession_button
    border: none
    background-color: #aaa255
    color: white
    height: 2.5rem
    margin: 0 0.5rem
    text-align: center
    padding: 0.5rem
    display: flex
    justify-content: center
    align-items: center
    width: 6rem
    font-size: 0.8rem
    border-radius: 10px

.nosession_button:hover
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

// about
.about_div
    min-height: 35vw
    width: 60rem
    margin: auto
    padding: 5rem

.about_div p
    margin: 1rem 0